<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{$site_seo_title} {$site_name}</title>
    <meta name="keywords" content="{$site_seo_keywords}"/>
    <meta name="description" content="{$site_seo_description}">
    {include file="public:head" /}
    <link rel="stylesheet" href="{$yf_theme_path}effect/public/css/vip.css">

    <script src="{$yf_theme_path}public/js/jquery.min.js"></script>
    <script src="__PUBLIC__/layer/layer_<?php echo $lang; ?>.js"></script>
</head>
<body class="home">
<div class="wrap">
    {include file="public:nav" /}
</div>
{include file="public:footer"/}
</div>
{include file="public:scripts"/}
<script>
    layer.msg('对不起,vip视频观看功能暂时只支持在电脑端观看!', {
        icon: 1,
        time: 5000 //5秒关闭（如果不配置，默认是3秒）
    }, function () {
        //do something
        self.location = '/';
    });
</script>
</body>
</html>
