<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <div class="clearfix"></div>
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="col-md-6 about_left">
            <h1 class="brand_1">About</h1>
            <img src="{$wjf_theme_path}public/images/1.png" class="img-responsive" alt=""/>
            <div class="triangle1 bg-secondary"><span>悦遇博客 <br> 我的独立空间。</span></div>
        </div>
        <div class="col-md-6 about_right wow fadeInUp" data-wow-delay="0.0s">
            <div class="about_text text_about">
                <h1>记录生活，记录成长。</h1>
                <p>时间过得太快，不去留意，不去记录，不去总结。只会使人活得麻木和安逸，等哪一天你想回忆时，你会发现，回忆是那么模糊...</p><p>每一份经历，当你把每一次成长，每一段时光都值得被记录，它们将会是你未来的财富。</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="box_1">
    <div class="container">
        {volist name="data" id="vo" $key}
        <div class="col-md-4 col_1">
            <h4>0{$key+1}/</h4>
            <h5>{$vo.news_title}</h5>
            <p>{$vo.news_scontent}</p>
            <a href="{:url('/live/article/info',['id'=>$vo['n_id']])}" class="btn_2" title="Error sit">more &raquo;</a>
        </div>
        {/volist}
        <div class="clearfix"></div>
    </div>
</div>
<div class="testimonial wow bounceIn" data-wow-delay="0.0s" id="faq">
    <div class="container">
        <div class="test_wrap">
            <p><span class="quotes"></span>每个人都有选择自己生活方式的权利。但愿日后的你想起今天，不会为此而悔恨，懊恼或难过，不会苦口婆心去教育自己的儿女，别像当年的自己一般荒唐。我的生活也许没那么多花样，大多数时间是在工作，学习，自嗨。但我猜测，如此单调的生活会让多年以后的自我得以成就，并且想到如今的我并不悔恨。<span
                        class="quotes-down"></span></p>
            <h4>--Vijay</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copyrights">Collect from <a href="">手机网站</a></div>
<div class="contact wow fadeInLeft" data-wow-delay="0.0s" id="contact">
    <div class="container">
        <div class="col-md-6 contact_left">
            <h3>联系博主</h3>
            <h4>如果有什么问题或者疑问,或是商业合作.都可以联系博主!</h4>
            <div class="footer_lists">
                <ul class="list">
                    <h5>Info :</h5>
                    <li>Phone:{$site_tel}</li>
                    <li>QQ:{$site_qq}</li>
                    <li>Email:<a href="{$site_admin_email}"> {$site_admin_email}</a></li>
                    <li>Address:{$site_address}</li>
                </ul>
                <ul class="list1">
                    <h5>Latest Tweets :</h5>
                    <li>但是拒绝各种无聊的骚扰 <a href="#">谢谢合作</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 contact_right">
            <div class="contact-form">
                <form>
                    <input type="text" class="textbox" value="Name" onFocus="this.value = '';"
                           onBlur="if (this.value == '') {this.value = 'Name';}">
                    <input type="text" class="textbox" value="Email" onFocus="this.value = '';"
                           onBlur="if (this.value == '') {this.value = 'Email';}">
                    <textarea value="Message" onFocus="this.value= '';"
                              onBlur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Message"></label>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{include file="public:footer" /}
</body>
</html>