<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>站点名称 - 关键字</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    {include file="public:head" /}
    <div class="tpt-wp tpt-pat-75 cl">
        <div class="tpt-ml-7">
            <div class="breadcrumb cl">
                显示结果 "
                关键字
                "
            </div>
            <ul class="main">
                <if condition="1 eq 1">
                        <li class="cl">
                            <div class="tpt-ml-3 cl">
                                <div class="main_left">
                                    <if condition="0 eq 1">
                                        <div class="mod-angle tpt-none-768">
                                            热
                                        </div>
                                    </if>
                                    <if condition="0 eq 1"><a title="" href=""><else/>
                                        <a title="" href=""></if>
                                    <if condition="1 neq ''">
                                        <img src="" alt="">
                                        <else />
                                        <img src="" alt="暂无缩略图">
                                    </if>
                                    </a>
                                </div>
                            </div>
                            <div class="tpt-mr-7">
                                <div class="main_right cl">
                                    <h2><if condition="0 eq 1"><a title="" href=""><else/>
                                        <a title="" href=""></if>标题</a></h2>
                                    <p>
                                        <span><i class="iconfont">&#xe6a3;</i>作者</span><span class="pipe"></span><span><i class="iconfont">&#xe7e5;</i>栏目</span><span class="pipe"></span><span><i class="iconfont">&#xe6c0;</i>201</span><span class="pipe"></span><span class="tpt-none-768"><i class="iconfont">&#xe64d;</i>2018-01-18 12:30:21</span>
                                    </p>
                                    <p class="tpt-none-768">
                                        华为并没有网上传言的那么可怕，做互联网的有几个是很轻松的？比华为累的多的是。特别是创业公司。华为是二个人拿三个人的钱干四个人的活，很多互联网都是一个人干...
                                    </p>
                                </div>
                            </div>
                        </li>
                    </if>
            </ul>
            <div class="pages"></div>
        </div>
        <div class="tpt-mr-3">
            {include file="public:right" /}
        </div>
    </div>
    {include file="public:footer" /}
</head>
</html>