<div class="tpt-sidebar cl">
    <h3>热门标签</h3>
    <ul class="tpt-g cl">
        <li><a class="tpt-g-1" href="/index.php/tags.html?ks=新媒体">新媒体</a></li><li><a class="tpt-g-2" href="/index.php/tags.html?ks=iphone8">iphone8</a></li><li><a class="tpt-g-3" href="/index.php/tags.html?ks=游戏">游戏</a></li><li><a class="tpt-g-4" href="/index.php/tags.html?ks=视频">视频</a></li><li><a class="tpt-g-5" href="/index.php/tags.html?ks=淘宝">淘宝</a></li><li><a class="tpt-g-6" href="/index.php/tags.html?ks=雷军">雷军</a></li><li><a class="tpt-g-7" href="/index.php/tags.html?ks=网红">网红</a></li><li><a class="tpt-g-8" href="/index.php/tags.html?ks=人工智能">人工智能</a></li><li><a class="tpt-g-9" href="/index.php/tags.html?ks=大朋VR">大朋VR</a></li><li><a class="tpt-g-10" href="/index.php/tags.html?ks=机器人">机器人</a></li><li><a class="tpt-g-11" href="/index.php/tags.html?ks=小米">小米</a></li><li><a class="tpt-g-12" href="/index.php/tags.html?ks=综艺">综艺</a></li><li><a class="tpt-g-13" href="/index.php/tags.html?ks=真人秀">真人秀</a></li><li><a class="tpt-g-14" href="/index.php/tags.html?ks=自定义">自定义</a></li>	</ul>
</div>
<div class="tpt-sidebar cl">
    <h3>热门推荐</h3>
    <ul class="tpt-c cl">
        <li>
            <a title="从 I/O 大会看谷歌如何推动 VR/AR 的生态发展和技术边界" href="/article/8.html">从 I/O 大会看谷歌如何推动 VR/AR 的生态发展和技术边界</a>
            <p>2017-11-11 15:02:06</p>
        </li>
        <li>
            <a title="科大讯飞发布会，我看到的人工智能" href="/article/2.html">科大讯飞发布会，我看到的人工智能</a>
        <p>2016-12-03 20:23:21</p>
    </li>
        <li><a title="虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”" href="/article/1.html">虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”</a>
        <p>
            2016-12-03 20:18:23		</p>
    </li>	</ul>
</div>
<div class="tpt-sidebar cl">
    <h3>精选内容</h3>
    <ul class="tpt-d cl">
        <li>
            <div>
                <a title="华为是一家怎样的公司？一位在职员工透露" href="/article/5.html">		<img src="{$wjf_theme_path}public/images/demo.jpg" alt="华为是一家怎样的公司？一位在职员工透露">
                </a>
            </div>
            <p>
                <a title="华为是一家怎样的公司？一位在职员工透露" href="/article/5.html">华为是一家怎样的公司？一位在职员工透露</a>
            </p>
        </li><li>
        <div>
            <a title="科大讯飞发布会，我看到的人工智能" href="/article/2.html">		<img src="{$wjf_theme_path}public/images/demo.jpg" alt="科大讯飞发布会，我看到的人工智能">
            </a>
        </div>
        <p>
            <a title="科大讯飞发布会，我看到的人工智能" href="/article/2.html">科大讯飞发布会，我看到的人工智能</a>
        </p>
    </li><li>
        <div>
            <a title="虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”" href="/article/1.html">		<img src="{$wjf_theme_path}public/images/demo.jpg" alt="虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”">
            </a>
        </div>
        <p>
            <a title="虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”" href="/article/1.html">虚拟现实游戏玩太久会怎样？玩家亲述恍如隔世的 “现实丧失感”</a>
        </p>
    </li>	</ul>
</div>
<div class="tpt-sidebar cl">
    <h3>友情连接</h3>
    <ul class="tpt-e cl">
        <li><a target="_blank" href="https://www.baidu.com/">百度一下</a></li><li><a target="_blank" href="https://www.so.com/">360搜索</a></li>	</ul>
</div>