<!DOCTYPE html>
<html>
<head>
    <title>微圈</title>
    {include file="public:head" /}
</head>
<body>
<!--导航-->
{include file="public:nav" /}
<div class="mui-content">
    <!--轮播开始-->
    {include file="public:slider" /}
    <!-- 轮播结束-->
    <div class="mui-card">
        <div class="mui-card-header mui-card-media">
            <img src="{$wjf_theme_path}public/images/cbd.jpg" />
            <div class="mui-media-body">
                小M
                <p>发表于 2016-06-30 15:30</p>
            </div>
            <div class="mui-media-body">
                心如野马,奔腾天下.心如野马,奔腾天下.心如野马,奔腾天下.
            </div>
        </div>
        <div class="mui-card-content" >
            <img src="{$wjf_theme_path}public/images/yuantiao.jpg" alt="" width="100%"/>
        </div>
        <div class="mui-card-footer">
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-zan red"></span>
                120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon mui-icon-chatbubble"></span>120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-fenxiang"></span>
            </a>
        </div>
    </div>
    <div class="mui-card">
        <div class="mui-card-header mui-card-media">
            <img src="{$wjf_theme_path}public/images/cbd.jpg" />
            <div class="mui-media-body">
                小M
                <p>发表于 2016-06-30 15:30</p>
            </div>
            <div class="mui-media-body">
                心如野马,奔腾天下.心如野马,奔腾天下.心如野马,奔腾天下.
            </div>
        </div>
        <div class="mui-card-content" >
            <img src="{$wjf_theme_path}public/images/yuantiao.jpg" alt="" width="100%"/>
        </div>
        <div class="mui-card-footer">
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-zan red"></span>
                120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon mui-icon-chatbubble"></span>120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-fenxiang"></span>
            </a>
        </div>
    </div>
    <div class="mui-card">
        <div class="mui-card-header mui-card-media">
            <img src="{$wjf_theme_path}public/images/cbd.jpg" />
            <div class="mui-media-body">
                小M
                <p>发表于 2016-06-30 15:30</p>
            </div>
            <div class="mui-media-body">
                心如野马,奔腾天下.心如野马,奔腾天下.心如野马,奔腾天下.
            </div>
        </div>
        <div class="mui-card-content" >
            <img src="{$wjf_theme_path}public/images/yuantiao.jpg" alt="" width="100%"/>
        </div>
        <div class="mui-card-footer">
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-zan red"></span>
                120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon mui-icon-chatbubble"></span>120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-fenxiang"></span>
            </a>
        </div>
    </div>
    <div class="mui-card">
        <div class="mui-card-header mui-card-media">
            <img src="{$wjf_theme_path}public/images/cbd.jpg" />
            <div class="mui-media-body">
                小M
                <p>发表于 2016-06-30 15:30</p>
            </div>
            <div class="mui-media-body">
                心如野马,奔腾天下.心如野马,奔腾天下.心如野马,奔腾天下.
            </div>
        </div>
        <div class="mui-card-content" >
            <img src="{$wjf_theme_path}public/images/yuantiao.jpg" alt="" width="100%"/>
        </div>
        <div class="mui-card-footer">
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-zan red"></span>
                120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon mui-icon-chatbubble"></span>120
            </a>
            <a class="mui-card-link">
                <span class="mui-icon iconfont icon-fenxiang"></span>
            </a>
        </div>
    </div>
</div>
{include file="public:footer" /}
</body>
</html>