<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>客家星官网-客家星</title>
    <meta name="description" content="传承客家文化,走进客家生活">
    <meta name="author" content="传承客家文化,走进客家生活">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="{$wjf_theme_path}public/css/base.css">
    <link rel="stylesheet" href="{$wjf_theme_path}public/css/vendor.css">
    <link rel="stylesheet" href="{$wjf_theme_path}public/css/main.css">

    <!-- script
    ================================================== -->
    <script src="{$wjf_theme_path}public/js/modernizr.js"></script>
    <script src="{$wjf_theme_path}public/js/pace.min.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="icon" type="image/png" href="/favicon.ico">

</head>

<body id="top">

<!-- header
================================================== -->
<header class="main-header">

    <div class="logo">
        <a href="/home/index/index">客家星</a>
    </div>

    <a class="menu-toggle" href="#"><span>菜单</span></a>

</header>

<!-- main navigation
================================================== -->
<nav id="menu-nav-wrap">

    <h3>导航</h3>
    <ul class="nav-list">
        <li><a class="smoothscroll" href="#intro" title="">首页</a></li>
        <li><a class="smoothscroll" href="#features" title="">模块</a></li>
        <li><a class="smoothscroll" href="#infos" title="">社交</a></li>
        <li><a class="smoothscroll" href="#stats" title="">统计</a></li>
        <li><a class="smoothscroll" href="#testimonials" title="">维护</a></li>
        <li><a class="smoothscroll" href="#download" title="">目的</a></li>
        <li><a class="smoothscroll" href="#subscribe" title="">联系</a></li>
    </ul>

    <h3>推荐</h3>
    <p class="sponsor-text">
        推荐 <a href="http://www.meetoyou.com">DreamHost</a>.
        获取 <span>50</span> when you sign up with the promocode <span>styleshout</span>.
        <!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
    </p>

    <div class="action">
        <a class="button" href="http://www.meetoyou.com">现在报名</a>
    </div>

</nav> <!-- /menu-nav-wrap -->


<!-- main content wrap
================================================== -->
<div id="main-content-wrap">


    <!-- main content wrap
   ================================================== -->
    <section id="intro">

        <!-- <div class="shadow-overlay"></div> -->

        <div class="row intro-content">
            <div class="col-twelve">

                <h3 class="animate-intro">这是一个专注于文化的网站</h3>

                <h1 class="animate-intro">
                    客家人的网上家园!
                </h1>

                <div class="buttons">
                    <a class="button stroke smoothscroll animate-intro" href="#features" title="">客家的方方面面</a>
                    <a class="button stroke smoothscroll animate-intro" href="#download" title="">夙愿</a>
                </div>

                <img src="{$wjf_theme_path}public/images/big-logo.jpg" alt="" class="animate-intro">

            </div> <!-- /twelve -->
        </div> <!-- /row -->

    </section> <!-- /intro -->


    <!-- features
   ================================================== -->
    <section id="features">

        <div class="row section-intro group animate-this">
            <div class="col-twelve with-bottom-line">

                <h2 class="">专注于客家的网站</h2>

                <p class="lead">
                    客家文化源远流长，客家的旅游文化、人文艺术、美食特色、客家大事件等等，您都能在本站了解到！让我们一起关注客家。
                </p>
            </div>
        </div>

        <div class="row features-wrap">

            <div class="features-list block-1-3 block-s-1-2 block-tab-full">

                <div class="bgrid feature animate-this">

                    <span class="feature-count">01.</span>

                    <div class="feature-content">

                        <h3>旅游文化</h3>

                        <p>
                            客家族群是自秦朝至今在南方地区已有两千多年居住历史的重要群体，作为中国古代历史上南迁汉族移民群体中的一类，是世界上分布范围最广阔、影响最深远的汉族民系之一。文化源远流长,遗迹甚多。
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature animate-this">

                    <span class="feature-count">02.</span>

                    <div class="feature-content">

                        <h3>人文艺术</h3>

                        <p>
                            客家的人文艺术也是一道特色，独具特色的服装打扮、舞蹈歌谣、客家名谣.....
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature animate-this">

                    <span class="feature-count">03.</span>

                    <div class="feature-content">

                        <h3>美食特色</h3>

                        <p>
                            客家小吃也是一绝。
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature animate-this">

                    <span class="feature-count">04.</span>

                    <div class="feature-content">

                        <h3>客家大事件</h3>

                        <p>
                           这里有最全最新的客家资讯，你想了解的都在这里。
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature animate-this">

                    <span class="feature-count">05.</span>

                    <div class="feature-content">

                        <h3>客家论坛</h3>

                        <p>
                            我们为客家人搭建属于客家的一个网上家园，您可以在这里发表自己的看法和自己的见闻。
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

                <div class="bgrid feature animate-this">

                    <span class="feature-count">06.</span>

                    <div class="feature-content">

                        <h3>客家商城</h3>

                        <p>
                            您怀念家乡的美味么？这里能买到各种关于客家的物品
                        </p>
                        <span><a href="">了解更多 >></a> </span>
                    </div>

                </div> <!-- /bgrid -->

            </div> <!-- /features-list -->

        </div> <!-- /features-wrap -->

    </section> <!-- /features -->


    <!-- infos
   ================================================== -->
    <section id="infos">

        <div class="info-entry">

            <div class="half-grey"></div>

            <div class="row info-entry-content">

                <div class="media-wrap">
                    <div class="media animate-this"  data-animate="fadeInRight">
                        <img src="{$wjf_theme_path}public/images/app-screenshot-small.jpg" alt="">
                    </div>
                </div>

                <div class="col-six text-part">

                    <h5 class="animate-this" data-animate="fadeInLeft">我们是客家族系</h5>
                    <h2 class="animate-this" data-animate="fadeInLeft">全世界都有我们的足迹</h2>

                    <p class="animate-this" data-animate="fadeInLeft">
                        看,我们是一个大家庭。
                    </p>

                    <a href="#" class="button animate-this" data-animate="fadeInLeft">更多 >></a>

                </div>

            </div> <!-- /info-entry-content -->

        </div> <!-- /info-entry -->

        <div class="info-entry">

            <div class="half-grey"></div>

            <div class="row info-entry-content">

                <div class="media-wrap">
                    <div class="media animate-this" data-animate="fadeInLeft">
                        <div class="fluid-video-wrapper">
                            <img src="{$wjf_theme_path}public/images/app-screenshot-small.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-six text-part">

                    <h5 class="animate-this" data-animate="fadeInRight">杰出的客家人</h5>
                    <h2 class="animate-this" data-animate="fadeInRight">客家杰出人才</h2>

                    <p class="animate-this" data-animate="fadeInRight">
                        我们客家人的骄傲
                    </p>

                    <a href="#" class="button animate-this" data-animate="fadeInRight">了解更多</a>

                </div>

            </div> <!-- /info-entry-content -->

        </div> <!-- /info-entry -->

    </section> <!-- infos -->

    <div class="copyrights">Collect from <a href="http://www.meetoyou.com/" >客家星</a></div>
    <!-- stats
   ================================================== -->
    <section id="stats" class="count-up">

        <div class="row">
            <div class="col-twelve">

                <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-pencil-ruler"></i>
                        </div>

                        <h3 class="stat-count">109</h3>

                        <h5 class="stat-title">
                            分布国家
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-location-user"></i>
                        </div>

                        <h3 class="stat-count">10200000</h3>

                        <h5 class="stat-title">
                            人口数量
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-rewards-medal-1"></i>
                        </div>

                        <h3 class="stat-count">102</h3>

                        <h5 class="stat-title">
                            客家非物质文化遗产
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-alien"></i>
                        </div>

                        <h3 class="stat-count">123</h3>

                        <h5 class="stat-title">
                            客家城镇
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-coffee-mug"></i>
                        </div>

                        <h3 class="stat-count">1500</h3>

                        <h5 class="stat-title">
                            Coffee Cups
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-hourglass"></i>
                        </div>

                        <h3 class="stat-count">7200</h3>

                        <h5 class="stat-title">
                            Hours
                        </h5>

                    </div> <!-- /stat -->

                </div> <!-- /stats-list -->

            </div> <!-- /twelve -->
        </div> <!-- /row -->

    </section> <!-- /stats -->

    <!-- testimonials
    ================================================== -->
    <section id="testimonials">
        <div class="row testimonial-content">
            <div class="col-twelve">

                <h2 class="h01 animate-this">
                    团队成员有话说
                </h2>

                <div id="testimonial-slider" class="flexslider animate-this">
                    <ul class="slides">
                        <li>
                            <p>&ldquo;我要开发一个我们客家人的网络平台,弘扬我们客家文化，让世界的人知道我们客家、了解客家。让我们客家人有更强的凝聚力。&rdquo;</p>
                            <p class="author-info">&mdash; Vijay</p>
                        </li>
                        <li>
                            <p>&ldquo;我要连接世界各地的客家人，让他们有家的感觉，愿意为此奋斗。最后我想问一句：想和旺仔牛奶吗?&rdquo;</p>
                            <p class="author-info">&mdash; 雷轰</p>
                        </li>
                        <li>
                            <p>&ldquo;我要用我的笔，把客家的文化、历史、新闻、美食......都记录下来。我这里有故事，你有酒吗？&rdquo;</p>
                            <p class="author-info">&mdash; 屎桥桥</p>
                        </li>
                    </ul>
                </div>

                <div class="flexslider-controls animate-this">
                    <ul class="flex-control-nav">
                        <li><img src="{$wjf_theme_path}public/images/customer01.jpg" alt=""></li>
                        <li><img src="{$wjf_theme_path}public/images/customer02.jpg" alt=""></li>
                        <li><img src="{$wjf_theme_path}public/images/customer03.jpg" alt=""></li>
                    </ul>
                </div>

            </div>
        </div>
    </section> <!-- /testimonials -->


    <!-- download
    ================================================== -->
    <section id="download">

        <div class="overlay"></div>

        <div class="row download-content" >
            <div class="col-twelve">

                <div class="text-part">
                    <h2 class="animate-this">我们的夙愿</h2>

                    <p class="lead animate-this">
                        客家文化博大精深，流传广泛。但没有像闽南文化、粤区文化那样形成统一的文化、语言。建立这个网上平台，我们希望提升我们客家的凝聚力。为世界客家人找到一个交流和沟通的平台。
                    </p>
                </div>

                <a class="button large animate-this" href="#">
                    加入我们
                </a>

            </div>
        </div>
    </section> <!-- /download -->


    <!-- subscribe
    ================================================== -->
    <section id="subscribe">

        <div class="row subscribe-content">
            <div class="col-twelve">

                <h2 class="h01 animate-this">
                    如果您也对客家文化兴趣浓厚
                </h2>
                <form id="mc-form" class="group" novalidate="true" autocomplete="off">

                    <div class="row">
                        <div class="col-eight tab-full left animate-this" data-animate="fadeInLeft">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email" required="">
                        </div>

                        <div class="col-four tab-full right animate-this"  data-animate="fadeInRight">
                            <input type="submit" value="加入我们" name="subscribe" class="button large">
                        </div>
                    </div> <!-- /row -->

                    <label for="mce-EMAIL" class="subscribe-message"></label>

                </form>

            </div>
        </div>

    </section> <!-- /subscribe -->

</div> <!-- /main-content-wrap -->


<!-- footer
 ================================================== -->
<footer id="main-footer">

    <div class="footer-social-wrap">
        <div class="row">

            <ul class="footer-social-list">
                <li><a href="#">
                    <i class="fa fa-facebook-square"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-twitter"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-google-plus"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-pinterest"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-instagram"></i>
                </a></li>
                <li><a href="#">
                    <i class="fa fa-dribbble"></i>
                </a></li>
            </ul>

        </div>
    </div> <!-- /footer-social-wrap -->

    <div class="footer-info-wrap">

        <div class="row footer-info">

            <div class="col-four tab-full">
                <h4><i class="icon-location-map-1"></i> Where to Find Us</h4>

                <p>
                    Three phase of the software park in Xiamen, Fujian<br>
                    福建省厦门市软件园三期<br>
                    福建省廈門市ソフトウェアパーク三期
                </p>
            </div>

            <div class="col-four tab-full collapse">
                <h4><i class="icon-phone-incoming"></i> Get In Touch</h4>

                <p>1937832819@qq.com<br>
                    1292609549@qq.com <br>
                    Phone: (+86) 130 xxx2 017x
                </p>
            </div>

            <div class="col-four tab-full">
                <h4><i class="icon-organization-hierarchy-3"></i> Company Links</h4>

                <ul class="footer-link-list">
                    <li><a href="#">客家论坛</a></li>
                    <li><a href="#">客家新闻</a></li>
                    <li><a href="#">客家商城</a></li>
                </ul>
            </div>

        </div>
    </div> <!-- /footer-info-wrap -->

    <div class="footer-bottom">

        <div class="copyright">
            <span>© Copyright 客家星 2018.</span>
            <span>更多信息 <a href="http://www.meetoyou.com" target="_blank" title="客家星">客家星</a> - 来源 <a href="http://www.meetoyou.com" title="客家星" target="_blank">客家星</a></span>
        </div>
    </div>

</footer>

<div id="go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
</div>

<!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader"></div>
</div>

<!-- Java Script
================================================== -->
<script src="{$wjf_theme_path}public/js/jquery-2.1.3.min.js"></script>
<script src="{$wjf_theme_path}public/js/plugins.js"></script>
<script src="{$wjf_theme_path}public/js/main.js"></script>
</body>
</html>