<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile">
    <div class="container">
        <h1 class="m_4">
            Gallery
        </h1>
        <p class="m_5">
            In pede maliquet sit amet euismod in auctor ut ligula
        </p>
        <div class="gallery_1">
            <div class="gallery-bottom">
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g1.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g2.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g3.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g4.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="gallery-bottom">
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g5.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g6.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g7.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g8.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="gallery-bottom">
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g5.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g6.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g7.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 ">
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 bottom-gallery">
                    <a href="{$wjf_theme_path}public/images/g8.jpg" rel="title" class="b-link-stripe b-animate-go thickbox">
                        <img class="img-responsive" src="{$wjf_theme_path}public/images/g8.jpg" />
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 "> </h3>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <script src="{$wjf_theme_path}public/js/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="{$wjf_theme_path}public/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
    <!--light-box-files -->
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $('.bottom-gallery a').Chocolat();
        });
    </script>
</div>
{include file="public:footer" /}
</body>
</html>