.vip {
    overflow: hidden;
    padding: 1%;
    margin-left: 10%;
}

.vip input {
    border: 1px solid #00a0e9;
    float: left;
    font-weight: bold;
    line-height: 40px;
    margin-left: 1%;
}

.input_box {
    width: 60%;
}

.input_post {
    width: 10%;
}

.input_close {
    width: 8%;
}

.input_explain {
    width: 80%;
    display: initial;
    margin-top: 1%;
    padding: 1%;
}

.video_hidden {
    overflow: hidden;
    width: 80%;
    margin-left: 12%;
}

.video_hidden iframe {
    height: 500px;
    width: 88%;
    background: #000000;
    border: 2px solid #00a0e9
}