<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile">
    <div class="container">
        <h1 class="m_4">
            Article Category
        </h1>
        <p class="m_5">
            本站文章类别
        </p>
        <div class="gallery_1">
            {foreach name="catList" item="val" key="k"}
            {if $k==1 || $k%4==0}<div class="gallery-bottom">{/if}
            <div class="col-md-3 bottom-gallery">
                <a href="{:Url('info',['cat_id'=>$val.cat_id])}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="{$val.cat_img}" style="height: 120px;padding: 3%;"/>
                    <div class="b-wrapper">
                        <div  class="b-animate b-from-left">
                            <h3 class="b-delay03">{$val.cat_name}</h3>
                            <span>{$val.cat_intro|msubstr=0,30}</span>
                        </div>
                    </div>
                </a>
            </div>
            {if $k%4==0}<div class="clearfix"> </div></div>{/if}
            {/foreach}
        </div>
    </div>
    <link rel="stylesheet" href="{$wjf_theme_path}public/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
    <!--light-box-files -->
</div>
{include file="public:footer" /}
</body>
</html>