<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="/index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile-info">
    <div class="container">
        <div class="about_grid1">
            <div class="col-md-8 box">
                <h1 class="m_4">
                    {$catInfo.cat_name}
                </h1>
                <p class="m_5">
                    {$catInfo.cat_intro}
                </p>
                <div class="container">
                    {foreach $newsList as $key=>$val}
                    <a href="{:url('/article/info/'.$val['n_id'])}">
                        <div class="row info-one">
                            <div class="info-one-img">
                                <img src="{$val.news_img}" alt="文章大图">
                            </div>
                            <div class="info-one-centent">
                                <h4 style="color: darkcyan;">{$val.news_title}</h4>
                                <span>{$val.news_scontent|msubstr=0,30}</span>
                            </div>
                        </div>
                    </a>
                    {/foreach}
                    <div class="row info-page">
                        {$page}
                    </div>
                </div>
            </div>
            {include file="public:rightslider" /}
        </div>
    </div>
</div>
{include file="public:footer" /}
{include file="public:scripts" /}
</body>
</html>