<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile">
    <div class="container">
        <div class="about_box1">
            <h1 class="m_4">
                we care about your happiness
            </h1>
            <p class="m_5">
                In pede maliquet sit amet euismod in auctor ut ligula
            </p>
            <div class="about_grid1">
                <div class="col-md-4 box1">
                    <img src="{$wjf_theme_path}public/images/pic1.jpg" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-8 box2">
                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper </a></h3>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="facts">
    <div class="container">
        <h2 class="m_6">
            Our Advantages
        </h2>
        <p class="m_5">
            In pede maliquet sit amet euismod in auctor ut ligula
        </p>
        <div class="about_grid2">
            <div class="col-md-4 box_5">
                <div class="put-left-abs">
                    <p class="text_6 color_1">1.</p>
                </div>
                <div class="caption">
                    <h3>dolore magna</h3>
                    <p>
                        Et laoreet dolore magna aliquam erat volutpat. Ut wisi enim adinim ven iam, quis nost rud
                    </p>
                    <a href="#" title="more" class="btn_1 " target="_self">more</a>
                </div>
            </div>
            <div class="col-md-4 box_5">
                <div class="put-left-abs">
                    <p class="text_6 color_1">2.</p>
                </div>
                <div class="caption">
                    <h3>aspernatur aut</h3>
                    <p>
                        Et laoreet dolore magna aliquam erat volutpat. Ut wisi enim adinim ven iam, quis nost rud
                    </p>
                    <a href="#" title="more" class="btn_1 " target="_self">more</a>
                </div>
            </div>
            <div class="col-md-4 box_5">
                <div class="put-left-abs">
                    <p class="text_6 color_1">3.</p>
                </div>
                <div class="caption">
                    <h3>praising pain</h3>
                    <p>
                        Et laoreet dolore magna aliquam erat volutpat. Ut wisi enim adinim ven iam, quis nost rud
                    </p>
                    <a href="#" title="more" class="btn_1 " target="_self">more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="container">
        <h2 class="m_6">
            Our Team
        </h2>
        <p class="m_5">
            In pede maliquet sit amet euismod in auctor ut ligula
        </p>
        <div class="about-grids">
            <div class="col-sm-3 about-grid">
                <a href="{$wjf_theme_path}public/images/pic2.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="{$wjf_theme_path}public/images/pic2.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                <h4><a href="#">Duis autem</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <a href="#" title="more" class="btn_1 " target="_self">more</a>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="{$wjf_theme_path}public/images/pic2.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="{$wjf_theme_path}public/images/pic2.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                <h4><a href="#">Duis autem</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <a href="#" title="more" class="btn_1 " target="_self">more</a>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="{$wjf_theme_path}public/images/pic2.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="{$wjf_theme_path}public/images/pic2.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                <h4><a href="#">Duis autem</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <a href="#" title="more" class="btn_1 " target="_self">more</a>
            </div>
            <div class="col-sm-3 about-grid">
                <a href="{$wjf_theme_path}public/images/pic2.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="{$wjf_theme_path}public/images/pic2.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                <h4><a href="#">Duis autem</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <a href="#" title="more" class="btn_1 " target="_self">more</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{include file="public:footer" /}
{include file="public:scripts" /}
<script src="{$wjf_theme_path}public/js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="{$wjf_theme_path}public/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.about-grid a').Chocolat({linkImages:false});
    });
</script>
</body>
</html>