<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile">
    <div class="container">
        <div class="about_box1">
            <h1 class="m_4">
                PHP是世界上最好的语言
            </h1>
            <p class="m_5">
                PHP is one of the best language in the world
            </p>
            <div class="about_grid1">
                <div class="col-md-4 box1">
                    <img src="{$wjf_theme_path}public/images/pic1.jpg" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-8 box2">
                    <h3><a href="{:url('/index/cat/info',['cat_id'=>1])}">编程语言不是为程序员而生的，而是为解决问题而生的。PHP 恰恰偏向实用。即使我会Python 和go ，我还是会选择PHP 开发WEB ，因为方便，快速，实用。</a></h3>
                    <p>PHP具有简单易懂的语法、没有奇怪的黑魔法、既能面向过程，又能面向对象、安装后各种扩展集一身、包括但不限于mysql、json、mbstr等，方便至极。一言不合，一个页面就html和PHP混写，甚至最新版本都内置了小型webserver，连apache和nginx都不用上、一分钟搭建博客论坛问你怕不怕、国外Ci、laravel、kohana、zf等框架层出不穷、国内tp社区棒、语言创建者积极上进优化、语言bug全世界的程序员和你一起修复。最重要的是大小公司都用、找工作不愁啊！</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="facts">
    <div class="container">
        <h2 class="m_6">
            实用的PHP开发经验
        </h2>
        <p class="m_5">
            The most practical experience in PHP development
        </p>
        <div class="about_grid2">
            {volist name="phpCode" id="vo" $key}
            <div class="col-md-4 box_5">
                <div class="put-left-abs">
                    <p class="text_6 color_1">{$key+1}.</p>
                </div>
                <div class="caption">
                    <h3>{$vo.news_title}</h3>
                    <p>
                        {$vo.news_scontent}
                    </p>
                    <a href="{:url('/index/article/info',['id'=>$vo['n_id']])}" title="more" class="btn_1 " target="_self">more</a>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="container">
        <h2 class="m_6">
            其他技术相关文章
        </h2>
        <p class="m_5">
            Other technical related articles
        </p>
        <div class="about-grids">
            <div class="col-sm-3 about-grid">
                <a href="/app/index/view/default/public/images/html5.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="/app/index/view/default/public/images/html5.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                {Wjf:get model="admin/News" field="n_id,news_title,news_scontent" news_open="1" cat_id ="2" limit="1" order='news_hits desc,n_id desc' cache='300'}
                {foreach $data as $key=>$val}
                <h4>
                    <span style="cursor:pointer" onclick="window.location='{:url(\'/index/article/info\',[\'id\'=>$val[\'n_id\']])}'">{$val.news_title}</span>
                </h4>
                <p>{$val.news_scontent}</p>
                <span style="cursor:pointer" onclick="window.location='{:url(\'/index/cat/info/cat_id/2\')}'" class="btn_1 " >more</span>
                {/foreach}
                {/Wjf:get}
            </div>
            <div class="col-sm-3 about-grid">
                <a href="/app/index/view/default/public/images/linux.jpg" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="/app/index/view/default/public/images/linux.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                {Wjf:get model="admin/News" field="n_id,news_title,news_scontent" news_open="1" cat_id ="3" limit="1" order='news_hits desc,n_id desc' cache='300'}
                {foreach $data as $key=>$val}
                <h4>
                    <span style="cursor:pointer" onclick="window.location='{:url(\'/index/article/info\',[\'id\'=>$val[\'n_id\']])}'">{$val.news_title}</span>
                </h4>
                <p>{$val.news_scontent}</p>
                <span style="cursor:pointer" onclick="window.location='{:url(\'/index/cat/info/cat_id/3\')}'" class="btn_1 " >more</span>
                {/foreach}
                {/Wjf:get}
            </div>
            <div class="col-sm-3 about-grid">
                <a href="/app/index/view/default/public/images/python.png" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="/app/index/view/default/public/images/python.png" class="img-responsive" alt=""/>
                    </div>
                </a>
                {Wjf:get model="admin/News" field="n_id,news_title,news_scontent" news_open="1" cat_id ="4" limit="1" order='news_hits desc,n_id desc' cache='300'}
                {foreach $data as $key=>$val}
                <h4>
                    <span style="cursor:pointer" onclick="window.location='{:url(\'/index/article/info\',[\'id\'=>$val[\'n_id\']])}'">{$val.news_title}</span>
                </h4>
                <p>{$val.news_scontent}</p>
                <span style="cursor:pointer" onclick="window.location='{:url(\'/index/cat/info/cat_id/4\')}'" class="btn_1 " >more</span>
                {/foreach}
                {/Wjf:get}
            </div>
            <div class="col-sm-3 about-grid">
                <a href="" title="name" rel="title2">
                    <div class="view view-first">
                        <img src="/app/index/view/default/public/images/others.jpg" class="img-responsive" alt=""/>
                    </div>
                </a>
                {Wjf:get model="admin/News" field="n_id,news_title,news_scontent" news_open="1" cat_id ="6" limit="1" order='news_hits desc,n_id desc' cache='300'}
                {foreach $data as $key=>$val}
                <h4>
                    <span style="cursor:pointer" onclick="window.location='{:url(\'/index/article/info\',[\'id\'=>$val[\'n_id\']])}'">{$val.news_title}</span>
                </h4>
                <p>{$val.news_scontent}</p>
                <span style="cursor:pointer" onclick="window.location='{:url(\'/index/cat/info/cat_id/6\')}'" class="btn_1 " >more</span>
                {/foreach}
                {/Wjf:get}
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{include file="public:footer" /}
{include file="public:scripts" /}
<script src="{$wjf_theme_path}public/js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="{$wjf_theme_path}public/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.about-grid a').Chocolat({linkImages:false});
    });
</script>
</body>
</html>