
<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css">
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                        <h3>{:lang('about us')}</h3>
                        <p>{$site_seo_description}</p>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                        <h3>{:lang('link')}</h3>
                        <dl>
                            {php}$links=get_links($link_footer);{/php}
                            {foreach name="links" item="vo"}
                            <dd>
                                <a href="{$vo.plug_link_url}" target="{$vo.plug_link_target}"><em class="fa fa-link">:&nbsp;&nbsp;</em>{$vo.plug_link_name}</a>
                            </dd>
                            {/foreach}
                        </dl>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                        <h3>{:lang('contact us')}</h3>
                        <dl class="contact-us">
                            <dd>
                                <p>
                                    <strong><em class="fa fa-map-marker">:&nbsp;&nbsp;</em></strong>{$site_address}
                                </p>
                            </dd>
                            <dd>
                                <p ><strong><em class="fa fa-phone">:&nbsp;&nbsp;</em></strong> {$site_tel}</p>
                            </dd>
                            <dd>
                                <p><strong><em  class="fa fa-envelope">:&nbsp;&nbsp;</em></strong><a href="mailto:{$site_admin_email}">{$site_admin_email}</a></p>
                            </dd>
                            <dd>
                                <p><strong><em class="fa fa-qq">:&nbsp;&nbsp;</em></strong><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$site_qq}&amp;site=qq&amp;menu=yes">{$site_qq}</a></p>
                            </dd>
                        </dl>
                    </section>
                    <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                        <h3>{:lang('scan QR code')}</h3>
                        {if condition="!empty($site_qr)"}
                        <img src="#" alt="{:lang('scan')}" style="width:120px;">
                        {else /}
                        <img src="/public/img/qbar.jpg" alt="{:lang('scan')}" style="width:120px;">
                        {/if}
                        <a href="#"></a>
                    </section>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>{$site_copyright} | {$site_icp}</p>
        </div>
    </div>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
{$site_tongji}