<nav class="nav1">
    <a id="menu-toggle" class="anchor-link" href="#"><img src="{$wjf_theme_path}public/images/nav.png" alt=""/></a>
    <ul class="simple-toggle" id="menu">
        <!-- logo -->
        <li class="logo"><a href="/index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a></li>
        <!-- logo -->
        {foreach $nav as $k=>$v}
        <li {if $v.id==$active}class="active"{/if}><a href="{$v.menu_url}">{$v.menu_name}</a></li>
        {/foreach}
    </ul>
</nav>