<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>期待悦遇</title>
    {include file="public:function"/}
    {include file="public:config"/}
    <meta name="author" content="WJFCMS">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="{$wjf_theme_path}effect/public/css/fall.css">
    <link rel="shortcut icon" href="{$wjf_theme_path}public/images/favicon.ico">
    <script src="{$wjf_theme_path}effect/public/js/zepto.min.js"></script>
</head>
<body>
    <div class="module">
        <img class="bgImg" src="{$wjf_theme_path}effect/public/images/fall/fall.jpg" alt=""/>
        <audio id="audio" style="opacity:0" preload="auto" controls loop hidden="true">
            <source src="{$wjf_theme_path}effect/public/vedio/Flower Dance.mp3" type="audio/mpeg">
            您的浏览器不支持 audio 元素。
        </audio>
        <div class="bird">
            <canvas id="birdCanvas" width="80px" height="80px">
                Your browser does not support the canvas element.
            </canvas>
        </div>
        <div class="bells">
            <img src="{$wjf_theme_path}effect/public/images/fall/fengling.png" alt="">
        </div>
        <ul class="leaf">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
<script>
    var myAuto = document.getElementById('audio');
    myAuto.play();
    var c=$("#birdCanvas");
    //    c.attr({"width":window.innerWidth/4+"px","height":window.innerWidth/4+"px"});
    var cxt=c[0].getContext("2d");
    var img=new Image()
    img.src="{$wjf_theme_path}effect/public/images/fall/niao.png";
    var speed=0;

    function draw(cxt){
        cxt.drawImage(img,200*speed,0,200,200,0,0,80,80);
    }
    setInterval(function(){
        cxt.clearRect(0,0,80,80);
        draw(cxt);
        if(speed==6){
            speed=0;
        }else{
            speed+=1;
        }
    },175);

</script>
</html>