<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
    <link rel="stylesheet" href="{$wjf_theme_path}effect/public/css/vip.css">
    <script src="{$wjf_theme_path}effect/public/js/vip.js"></script>
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="container"  onkeydown="Keytest(event)">
    <div class="vip">
        <input class="input_box" type="text" id="link"/>
        <input class="input_post" type="submit" value="提交视频地址" onclick="Tip()"/>
        <input class="input_close" type="submit" value="关闭视频" onclick="Clo()"/>
        <input class="input_explain" value="在上方输入视频地址后按Alt+数字1-6选择解析接口后即可观看。    VIP视频支持爱奇艺，芒果TV，优酷，腾讯，乐视等"/>
    </div>
    <div class="video_hidden">
        <iframe id="video_iframe" src=" " >
        </iframe>
    </div>
</div>
{include file="public:footer" /}
{include file="public:scripts" /}
</body>
</html>
