<div class="footer">
    <div class="container">
        <div class="footer_nav1">
            <ul>
                <!-- logo -->
                <li class="logo"><a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a></li>
                <!-- logo -->
                {foreach $nav as $k=>$v}
                <li><a href="{$v.menu_url}">{$v.menu_name}</a></li>
                {/foreach}
            </ul>
        </div>
        <div class="copy_right">
            <p>{$site_copyright} | {$site_icp}</p>
        </div>
    </div>
</div>