<script src="/app/home/view/default/public/js/jquery.parallax.js"></script>
<script src="/app/home/view/default/public/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="/app/home/view/default/public/js/jquery.nivo.slider.pack.js"></script>
<script src="/app/home/view/default/public/js/jquery.prettyPhoto.js"></script>
<script src="/app/home/view/default/public/js/superfish.js"></script>
<script src="/app/home/view/default/public/js/circularnav.js"></script>
<script src="/app/home/view/default/public/js/jflickrfeed.js"></script>
<script src="/app/home/view/default/public/js/imagesloaded.pkgd.min.js"></script>
<script src="/app/home/view/default/public/js/waypoints.min.js"></script>
<script src="/app/home/view/default/public/js/spectrum.js"></script>
<script src="/app/home/view/default/public/js/tytabs.js"></script>
<script src="/app/home/view/default/public/js/portfolio.js"></script>
<script src="/app/home/view/default/public/js/qrcode.min.js"></script>
<script src="/app/home/view/default/public/js/jquery.sticky.js"></script>

<script src="__PUBLIC__/js/custom.js"></script>
<script src="__PUBLIC__/others/jquery.form.js"></script>
<script src="__PUBLIC__/layer/layer_{$lang}.js"></script>