<nav class="nav1">
    <a id="menu-toggle" class="anchor-link" href="#"><img src="{$wjf_theme_path}public/images/nav.png"
                                                          alt=""/></a>
    <ul class="simple-toggle" id="menu">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <!-- logo -->
        <li class="logo"><a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png"
                                                   alt=""/></a></li>
        <!-- logo -->
        <li><a href="faq.html">Faq</a></li>
        <li><a href="typography.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>