<!DOCTYPE html>
<head>
    <title>{$site_seo_title} {$site_name}</title>
    {include file="public:head" /}
    <meta name="description" content="{$site_seo_description}">
</head>
<body>
<div class="about_header">
    <div class="container">
        <!---start-top-nav---->
        <div class="top-nav">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="{$wjf_theme_path}public/images/logo.png" alt=""/></a>
                </div>
            </div>
            {include file="public:nav" /}
            <script type="text/javascript">
                $(document).ready(function() {

                    $('#menu-toggle').click(function () {
                        $('#menu').toggleClass('open');
                        e.preventDefault();
                    });

                });
            </script>
        </div>
        <!---End-top-nav---->
    </div>
</div>
<div class="profile-info">
    <div class="container">
        <div class="about_grid1">
            <div class="col-md-8 box">
                <h1 class="m_4">
                    {$info.news_title}
                </h1>
                <p class="m_5" style="margin-bottom: 3%;">
                    <span>时间: {$info.news_time|date="Y-m-d H:i:s",###}</span>&nbsp;&nbsp;
                    <span>作者: {$info->user->member_list_nickname}</span>&nbsp;&nbsp;
                    <span><i class="fa fa-eye">&nbsp;</i>{$info.news_hits}</span>
                </p>
                <div class="container">
                    {$info.news_content}
                </div>
            </div>
            {include file="public:rightslider" /}
        </div>
    </div>
</div>
{include file="public:footer" /}
</body>
</html>